:host {
  display: block;
}

.alpirsbacher {
  background-color: #342628;
  color: #FEAA00;
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 5%;
  transition: transform 5s;
  transform-style: preserve-3d;
}

.front,
.back,
.front2,
.back2,
.front3,
.back3,
.front4,
.back4 {
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
}

.back,
.back2,
.back3,
.back4 {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card:hover {
  transform: rotateY(180deg);
  transition: transform 3s;
}