:host {
  display: block;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: auto;
  transition: transform 5s;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
}

.back
 {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card:hover {
  transform: rotateY(180deg);
  transition: transform 3s;
}

img{
  width: 100%;
}