nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color: #342628;
  padding: 14px 16px; 
}

nav ul {
  display: flex;
  list-style: none; 
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #FEAA00;
}

nav a {
  text-decoration: none;
  color: white;
}


h2 {
  color: white;
}